## Spring DATASOURCE (DataSourceAutoConfiguration & DataSourceProperties)

spring:
  application:
    name: student-service
  datasource:
    url: jdbc:mysql://localhost:3306/studentDB?useSSL=false
    username: root
    password: root
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL5Dialect


## Hibernate Properties
# The SQL dialect makes Hibernate generate better SQL for the chosen database

  
logging:
  level:
    org:
      hibernate: SQL=DEBUG
      type: TRACE



server:  
  port: ${PORT:3333}





eureka:  
  client:
    serviceUrl:
      defaultZone: ${DISCOVERY_URL:http://localhost:8761}/eureka/
  instance:
    leaseRenewalIntervalInSeconds: 1
    leaseExpirationDurationInSeconds: 2
          
ribbon:
  eureka:
    enabled: true